<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @event.end_time %>
</p>

<%= link_to 'Back', events_path %>
